<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.unisa.mathchallenger"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="it.unisa.mathchallenger.HomeAutenticazioneActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:noHistory="true"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="it.unisa.mathchallenger.HomeGiocoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:noHistory="true"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="it.unisa.mathchallenger.ActivityCambiaPassword"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:noHistory="true"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="it.unisa.mathchallenger.GiocaPartitaActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="it.unisa.mathchallenger.VisualizzaPartitaActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:noHistory="true"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="it.unisa.mathchallenger.NuovaPartitaActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:noHistory="true"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="it.unisa.mathchallenger.CercaUtenteActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:noHistory="true"
            android:label="@string/app_name" >
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="it.unisa.mathchallenger.AdsActivity"
            android:noHistory="true"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="it.unisa.mathchallenger.StatisticheActivity"
            android:noHistory="true"
            android:label="@string/app_name" >
        </activity>
    </application>

</manifest>
